footer {
  background-color: #1b1b1b;
  padding: 8px;
}

.social {
  width: 36px;
  height: 36px;
  margin: 4px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social:hover {
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.473);
}

.footer-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 10px;
  color: #fafafa;
}
