.electric-modal {
  background-color: #ffd600;
}

.grass-modal {
  background-color: #00c853;
}

.poison-modal {
  background-color: #6200ea;
}

.bug-modal {
  background-color: #64dd17;
}

.normal-modal {
  background-color: #a1887f;
}

.flying-modal {
  background-color: #4db6ac;
}

.ground-modal {
  background-color: #4e342e;
}

.fire-modal {
  background-color: #dd2c00;
}

.water-modal {
  background-color: #0091ea;
}

.fairy-modal {
  background-color: #ff4081;
}

.rock-modal {
  background-color: #424242;
}

.fighting-modal {
  background-color: #7c4dff;
}

.ghost-modal {
  background-color: #000051;
}

.dark-modal {
  background-color: #000000;
}

.psychic-modal {
  background-color: #9e9d24;
}

.ice-modal {
  background-color: #00b8d4;
}

.steel-modal {
  background-color: #263238;
}

.dragon-modal {
  background-color: #f57f17;
}

.electric-div {
  background-color: #c49000;
}

.grass-div {
  background-color: #2e7d32;
}

.poison-div {
  background-color: #7b1fa2;
}

.bug-div {
  background-color: #afb42b;
}

.normal-div {
  background-color: #8d6e63;
}

.flying-div {
  background-color: #00acc1;
}

.ground-div {
  background-color: #6d4c41;
}

.fire-div {
  background-color: #ff833a;
}

.water-div {
  background-color: #63a4ff;
}

.fairy-div {
  background-color: #f48fb1;
}

.rock-div {
  background-color: #8d8d8d;
}

.fighting-div {
  background-color: #673ab7;
}

.ghost-div {
  background-color: #5c6bc0;
}

.dark-div {
  background-color: #424242;
}

.psychic-div {
  background-color: #caae53;
}

.ice-div {
  background-color: #0288d1;
}

.steel-div {
  background-color: #455a64;
}

.dragon-div {
  background-color: #ff9e40;
}
